.test .rdt_Pagination {
display: none!important;
}

.custom-scroll
{
    height: 100vh; /* percent relative to viewport height */
    float: left;
    overflow: auto;

}

.progress-bar {
    animation: progressAnimation 5s infinite;
    overflow: unset;

}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb
{
	background-color: #006eb5;

	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


[dir] .btn {
    padding: 0.5rem 2rem!important;
}



[dir] .card-footer {
    padding: 0.5rem 1.5rem!important;
}

[dir] .nav.nav-tabs .nav-item .nav-link.active {
    border: none;
    background-color: #398ec600;
    transform: translateY(-2px);
}

[dir] .progress {
    margin-bottom: 1.2rem;
}

.progress.progress-lg {
    height: 1.5rem;
}

[dir] .progress:last-child {
    margin-bottom: 0.5rem;
}

.progress.progress-lg {
    height: 1rem;
}

[dir] .progress {
    margin-bottom: 0.7rem;
}

[dir] .card .card-title {
    margin-bottom: 1rem;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
}

.font-10
{font-size:10px!important

}

.text-muted p {
    margin-top: 0;
    margin-bottom: 0!important;
}




.blink-bahaya{
    margin-bottom: 0.5rem;
    background: #f8f8f8;
    color:white!important;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    animation: blinkingBackground 0.5s infinite;
}

.blink-baik{
    margin-bottom: 0.5rem;
    background: #28c76f;
    color:white!important;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    animation: blinkingBackgroundBaik 2s infinite;
}


.blink-peringatan{
    margin-bottom: 0.5rem;
    background: #f8f8f8;
    color:white!important;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    animation: blinkingBackgroundPeringatan 2s infinite;
}

.blink-bahaya{
    margin-bottom: 0.5rem;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    animation: blinkingBackgroundBahaya 0.6s infinite;

}

.blink-mati{
    margin-bottom: 1rem;
    background: #202020!important;
    border-radius: 5px;
    padding: 2px;
    text-align: center;
    color: #d6d6d6!important;
}


@keyframes blinkingBackgroundPeringatan{

    100%	        { background-color: #ff9f43;
        box-shadow:
        0 0 6px 3px #fff,  /* inner white */
        0 0 10px 2px #ff9f43, /* middle magenta */
        0 0 10px 0.5px #ff9e438f; /* outer cyan */
    color:white;}
}

@keyframes blinkingBackgroundBahaya{

    100%	        { background-color: #ea5455;
        box-shadow:
        0 0 6px 3px #fff,  /* inner white */
        0 0 10px 2px #ea5455, /* middle magenta */
        0 0 10px 0.5px #ea5455e8; /* outer cyan */
    color:white;}
}

@keyframes blinkingBackgroundBaik{
    0%	        { background-color: #28c76f;
        box-shadow:
        0 0 6px 3px #fff,  /* inner white */
        0 0 10px 2px #28c76f, /* middle magenta */
        0 0 10px 0.5px #28c76f7c; /* outer cyan */
    color:white;}
    100%	        { background-color: #28c76f;
        box-shadow:
        0 0 6px 3px #fff,  /* inner white */
        0 0 10px 2px #28c76f, /* middle magenta */
        0 0 10px 0.5px #28c76f7c; /* outer cyan */
    color:white;}
}


@keyframes progressAnimation{
    0%	        {
    color:white;}
    45%	        {
        color:white;}
        60%	        {
            color:#636e72;}

    90%	        {
    color:#636e72;}

    100%	        {
        color:#636e72;}

}




.compmati {
    background: white;
    color: rgb(31, 31, 31);

}

.bg-pnull
{
    background:#323536!important;
}

.bg-wait
{
  background-color: #c2c2c2 !important;
}


.bg-grey
{
    background:#b3b3b3!important;
}


.bg-pnullgone
{
    background:#ededed!important;
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
  }
  .pagination > .active > a{
    background-color: #47ccde ;
    border-color: #47ccde ;
    color: #fff;
  }
  .pagination > li > a{
    border: 1px solid #47ccde ;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
  }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
    background-color: #47ccde ;
    border-color: #47ccde;
    outline: none ;
  }
  .pagination > li > a, .pagination > li > span{
    color: #47ccde
  }
  .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
    border-radius: unset
  }


  .eliminasi:nth-child(n+9) {
  display: none!important;
}

#row-0 .rdt_TableCell{
    white-space: break-spaces!important;
}

.kananr
{
    position: static;
    right: 0;
    display: inline-block;
    position: absolute;
    top:0;
    right:0;
    font-family: "Montserrat", Helvetica, Arial, serif;
    font-size: 1rem;
    font-weight: 400;
}

.blur-bar
{

    webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    -webkit-transition: all 5s linear;
    transition: all 5s linear;
    -moz-transition: all 5s linear;
    -webkit-transition: all 5s linear;
    -o-transition: all 5s linear;
    animation: blur 4s ease 0s infinite;
    -webkit-animation: blur 4s ease 0s infinite;
    -moz-animation: blur 4s ease 0s infinite;
}


@keyframes blur {
    30%,
    60% {
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
    }
    50% {
      -webkit-filter: blur(7px);
      -moz-filter: blur(7x);
      -o-filter: blur(7px);
      -ms-filter: blur(7px);
    }
  }

.myClassname::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.myClassname
{
  padding: 10px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.visLegend__valueTitle {
  text-overflow: clip!important;
  white-space: inherit!important;
}
